* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
} 

h1 {
	text-align: center;
	color: #294860;
}

body {
	font-family: Helvetica;
}

.lesson {
	background-color: #294860;
	border-radius: 20px;
	color: white;
	padding: 10px;
}

h2 {
	margin: 10px;
}

.concept {
	background-color: #DFEAF1;
	padding: 4px;
	margin: 10px;
	border-radius: 4px;
	color: black;
}

.concept-title {
	font-size: 20px;
	margin: 8px;
	text-align: center;
	color: #294860;
}

.concept-description {
	font-weight: lighter;
	margin: 6px;
}
 
pre {
	border: solid 1px #dcdcdc;
	display: block;
	margin: 0 0 11.5px;
	font-size: 13px;
	line-height: 1.7;
	word-break: break-all;
	word-wrap: break-word;
	color: #333;
	background-color: #f5f5f5;
}
/*
pre code {
	padding: 0;
	font-size: inherit;
	color: inherit;
	white-space: pre-wrap;
	background-color: transparent;
	border-radius: 0;
}*/

.italic {
	font-style: italic;
}

.bold {
	font-weight: bold;
}